<div class="body-container">
  <div class="container">
    <div class="d-flex justify-content-center mt-4 mb-4">
        <form class="input-group ">
       <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                  <span class="input-group-text">
                      <i class="fa fa-search"></i>
                  </span> 
              </div>
          </form>
    </div>
    <div class="row">
      <div class="col">
          <ul class="list-group mb-4">
              <li class="list-group-item">
                
                  <div class="row no-gutters">
                    <div class="col-md-3">
                      <img src="../../../assets/images/notebook.svg" class="book-image" alt="">
                    </div>
                    <div class="col-md-9">
                      <div class="card-block px-2">
                        <h4 class="card-title">
                            Physics for Scientists and Engineers: A Strategic Approach with Modern Physics (4th Edition)</h4>
                        <p class="card-text">Author: Jame Stewart</p>
                        <p class="card-text">ISBN-13: 9781461250296</p>
                        <p class="card-text">Edition: 8th</p>
                       <app-all-classes></app-all-classes>
                       <hr>
                       <div class="mx-auto btn-add-to-cart">
                          <button type="button" class="btn btn-success btn-block">Add to cart</button>
                        </div>
                      </div>
                    </div>
                  </div>
                 
               
                  
              </li>
              <li class="list-group-item">
                
                  <div class="row no-gutters">
                    <div class="col-md-3">
                      <img src="../../../assets/images/notebook.svg" class="book-image" alt="">
                    </div>
                    <div class="col-md-9">
                      <div class="card-block px-2">
                        <h4 class="card-title">
                            Calculus</h4>
                        <p class="card-text">Author: Jame Stewart</p>
                        <p class="card-text">ISBN-13: 9781461250296</p>
                        <p class="card-text">Edition: 8th</p>
                       <app-all-classes></app-all-classes>
                       <hr>
                       <div class="mx-auto btn-add-to-cart">
                          <button type="button" class="btn btn-success btn-block">Add to cart</button>
                        </div>
                      </div>
                    </div>
                  </div>
             </li>
            </ul>
      </div>
    </div>
      
  </div>
</div>