<div class="container">
  <div class="row">
    <div class="col border-right">
      <h4 class="text-center">Hold</h4>
      <div class="card">
        <div class="row no-gutters">
          <div class="col-auto">
            <img src="../../../assets/images/notebook.svg" class="book-image" alt="">
          </div>
          <div class="col">
            <div class="card-block px-2">
              <h4 class="card-title">Title</h4>
              <p class="card-text">Description</p>
              <a href="#" class="btn btn-primary">BUTTON</a>
            </div>
          </div>
        </div>
        <div class="card-footer w-100 text-muted">
          Footer stating cats are CUTE little animals
        </div>
      </div>

    </div>
    <div class="col">
      <h4 class="text-center">Loan</h4>
    </div>
  </div>
</div>