<div [ngStyle]='bodyContainer' class="container d-flex align-items-center">
  <div class="mx-auto border ">
    <div class="row align-items-center">
      <div class="col">
        <h5 class="card-header">Sign Up</h5>
        <div class="card-body border-right-1">
          <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputFirstName">First Name</label>
                <input type="text" class="form-control" id="inputFirstName" placeholder="First Name">
              </div>
              <div class="form-group col-md-1">
                <label for="inputMiddleInitial">M.I</label>
                <input type="text" class="form-control" id="inputMiddleInitial" placeholder="Middle Inintial">
              </div>
              <div class="form-group col-md-5">
                <label for="inputLastName">Last Name</label>
                <input type="text" class="form-control" id="inputLastName" placeholder="Last Name">
              </div>
              <div class="form-group col-md-5">
                <label for="inputEmail">Email</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="Email">
              </div>
              <div class="form-group col-md-4">
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
              </div>

              <div class="form-group col-md-3">
                <label for="inputStudentID">Student ID</label>
                <input type="text" class="form-control" id="inputStudentID" placeholder="Student ID">
              </div>

              <div class="form-group col-md-4">
                <label for="inputSport">Sport</label>
                <select id="inputSport" class="form-control">
                  <option selected>Choose...</option>
                  <option>Aquatics</option>
                  <option>Baseball</option>
                  <option>Basketball</option>
                  <option>Crosscountry</option>
                  <option>Football</option>
                  <option>Soccer</option>
                  <option>Softball</option>
                  <option>Basketball</option>
                  <option>Track & Field</option>
                  <option>Volleyball</option>
                </select>
              </div>
              <div class="form-group col-md-4">
                <label for="inputDateOfBirth">Date of Birth</label>
                <input class="form-control" type="text" id="inputDateOfBirth" bsDatepicker>
              </div>

              <div class="form-group col-md-4">
                <label for="inputGender">Gender</label>
                <select id="inputState" class="form-control">
                  <option selected>Choose...</option>
                  <option>Male</option>
                  <option>Female</option>
                </select>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Sign up</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>