<form class="mt-4">
    <div class="form-row">
      
      <div class="form-group w-100">
 
          <select id="inputSport" class="form-control">
            <option selected>Select your class...</option>
            <option value="ACCTG">ACCTG</option>
<option value="ADJUS">ADJUS</option>
<option value="ADN">ADN</option>
<option value="AH">AH</option>
<option value="ACLI">ACLI</option>
<option value="ANAT">ANAT</option>
<option value="ANTHR">ANTHR</option>
<option value="ARCHT">ARCHT</option>
<option value="ART">ART</option>
<option value="ASTR">ASTR</option>
<option value="ALCI">ALCI</option>
<option value="BAE">BAE</option>
<option value="BCOM">BCOM</option>
<option value="BIO">BIO</option>
<option value="CART">CART</option>
<option value="CDECE">CDECE</option>
<option value="CDF">CDF</option>
<option value="CDLL">CDLL</option>
<option value="CDLL">CDSED</option>
<option value="CHEM">CHEM</option>
<option value="CHIN">CHIN</option>
<option value="CISCO">CISCO</option>
<option value="COMM">COMM</option>
<option value="CHIN">CHIN</option>
<option value="COSA">COSA</option>
<option value="COSK">COSK</option>
<option value="COSN">COSN</option>
<option value="COSP">COSP</option>
<option value="COSS">COSS</option>
<option value="COSW">COSW</option>
<option value="CHIN">CHIN</option>
<option value="COUNS">COUNS</option>
<option value="CS">CS</option>
<option value="CULAR">CULAR</option>
<option value="DANCE">DANCE</option>
<option value="DMA">DMA</option>
<option value="DMI">DMI</option>
<option value="DRAFT">DRAFT</option>
<option value="ECON">ECON</option>
<option value="EDUC">EDUC</option>
<option value="ELECT">ELECT</option>
<option value="ENGL">ENGL</option>
<option value="ENGLC">ENGLC</option>
<option value="ENGR">ENGR</option>
<option value="ENVRS">ENVRS</option>
<option value="ESL">ESL</option>
<option value="FACS">FACS</option>
<option value="FD">FD</option>
<option value="FILM">FILM</option>
<option value="FIRE">FIRE</option>
<option value="FREN">FREN</option>
<option value="F_N">F_N</option>
<option value="GBUS">GBUS</option>
<option value="GEOG">GEOG</option>
<option value="GEOL">GEOL</option>
<option value="GER">GER</option>
<option value="HIST">HIST</option>
<option value="HLED">HLED</option>
<option value="HSA">HSA</option>
<option value="HUMAN">HUMAN</option>
<option value="IBUS">IBUS</option>
<option value="ITAL">ITAL</option>
<option value="JAPAN">JAPAN</option>
<option value="JOURN">JOURN</option>
<option value="KINA">KINA</option>
<option value="KING">KING</option>
<option value="KINIA">KINIA</option>
<option value="KINFP">KINFP</option>
<option value="KINPP">KINPP</option>
<option value="LAW">LAW</option>
<option value="LEARN">LEARN</option>
<option value="LIB">LIB</option>
<option value="LING">LING</option>
<option value="MA">MA</option>
<option value="MATH">MATH</option>
<option value="MGMT">MGMT</option>
<option value="MKTG">MKTG</option>
<option value="MTFAB">MTFAB</option>
<option value="MUSIC">MUSIC</option>
<option value="PGEOG">PGEOG</option>
<option value="PHIL">PHIL</option>
<option value="PHOT">PHOT</option>
<option value="PHYS">PHYS</option>
<option value="PHYSI">PHYSI</option>
<option value="POLSC">POLSC</option>
<option value="PSYCH">PSYCH</option>
<option value="PUBAD">PUBAD</option>
<option value="PUENT">PUENT</option>
<option value="READ">READ</option>
<option value="REAL">REAL</option>
<option value="R_TV">R_TV</option>
<option value="SIGN">SIGN</option>
<option value="SOCIO">SOCIO</option>
<option value="SOCSC">SOCSC</option>
<option value="SPAN">SPAN</option>
<option value="SPEC ORDER">SPEC ORDER</option>
<option value="STAT">STAT</option>
<option value="TART">TART</option>
<option value="TEC">TEC</option>
<option value="VN">VN</option>
<option value="WELD">WELD</option>
<option value="ZSAMPLE">ZSAMPLE</option>
          </select>
        </div>
        <div class="form-group w-100">
            <input type="text" class="form-control" id="inputClassNumber" placeholder="Class Number">
          </div>
    </div>
  </form>