<div class="body-container">
    <div class="container">
      <div class="d-flex justify-content-center mt-4 mb-4">
          <form class="input-group ">
         <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                  <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="fa fa-search"></i>
                    </span> 
                </div>
            </form>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
            <ul class="list-group mb-4">
                <li class="list-group-item">
                  <div class="card">
                    <div class="text-center">
                        <img class="card-img-top book-image" src="../../../assets/images/calculus3.jpg" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-truncate" data-toggle="tooltip" title="Calculus: Early Transcendentals">Calculus: Early Transcendentals</h5>
                        <p class="card-text text-truncate">Author: Jame Steward</p>
                        <p class="card-text text-truncate">Edition: 8th</p>
                        <app-all-classes></app-all-classes>
                        <button class="btn btn-success w-100 m-0" type="button">Add to cart</button>
                      </div>
                  </div>
                </li>
              </ul>
        </div>
        <div class="col-lg-4 col-md-6">
            <ul class="list-group mb-4">
                <li class="list-group-item">
                    <div class="card">
                      <div class="text-center">
                          <img class="card-img-top book-image" src="../../../assets/images/physics.jpg" alt="Card image cap">
                      </div>
                      <div class="card-body">
                          <h5 class="card-title text-truncate" data-toggle="tooltip" title="Physics for Scientists and Engineers: A Strategic Approach with Modern Physics (4th Edition)">Physics for Scientists and Engineers: A Strategic Approach with Modern Physics (4th Edition)</h5>
                          <p class="card-text text-truncate">Author: Randal Knight</p>
                          <p class="card-text text-truncate">Edition: 4th</p>
                          <app-all-classes></app-all-classes>
                          <button class="btn btn-success w-100 m-0" type="button">Add to cart</button>
                        </div>
                    </div>
                  </li>
            </ul>     
        </div>
        <div class="col-lg-4 col-md-6">
            <ul class="list-group mb-4">
                <li class="list-group-item">
                    <div class="card">
                      <div class="text-center">
                          <img class="card-img-top book-image" src="../../../assets/images/history.jpg" alt="Card image cap">
                      </div>
                      <div class="card-body">
                          <h5 class="card-title text-truncate" data-toggle="tooltip" title="America: A Narrative History (Tenth Edition)">America: A Narrative History (Tenth Edition)</h5>
                          <p class="card-text text-truncate">Author: David E. Shi</p>
                          <p class="card-text text-truncate">Edition: 10th</p>
                          <app-all-classes></app-all-classes>
                          <button class="btn btn-success w-100 m-0" type="button">Add to cart</button>
                        </div>
                    </div>
                  </li>
            </ul>     
        </div>
    </div>
    </div>
  </div>